---
import Cert from './cert.astro';
import { certificates } from '../../data';
---

<section id="certs" class="py-16 sm:py-36 space-y-6 lg:space-y-10">
  <h3 class="font-extrabold text-2xl lg:text-5xl uppercase text-center">
    Certificates
  </h3>

  <div class="grid lg:grid-cols-2 gap-4 md:gap-8">
    {
      certificates.map((c) => (
        <Cert
          provider={c.provider}
          title={c.title}
          body={c.date}
          href={c.url}
          icon={c.icon}
        />
      ))
    }
  </div>
</section>