---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
const { url, title, body, image } = Astro.props;

export interface Props {
  title: string;
  body: string;
  image: string;
  url: string;
}
---

<a href={url} target="_blank" class="overflow-hidden bg-dark-accent relative rounded-2xl border border-slate-900 group" >

    <div class="h-40 sm:h-64 rounded-t-lg relative overflow-hidden">
      <Image
        alt={title}
        src={image}
        width={800}
        height={800}
        format="webp"
        class="opacity-90"
      />
    </div>


  <div class="flex flex-col space-y-5 py-5 px-6 justify-between h-48 md:h-40">
        <div class="flex flex-col h-full justify-between">
          <div class="space-y-2">
            <h2 class="font-bold text-3xl xl:text-4xl group-hover:text-primary-accent transition duration-300 ease-in-out">
              {title}
            </h2>
            <p class="font-semibold text-base sm:text-xl text-slate-300">
              {body}
            </p>
          </div>


        </div>
      </div>

</a>
